<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "Products", products_path %>
<br>
<%= link_to "Users", users_path %>
<br>
<%= link_to "UserTypes", user_types_path %>
<br>
<br>
User Test (false means its working)
<br>
Products Permissions: <%= @user.user_type.products %>