<h1>Help and FAQs</h1>

<%#Creating the table for FAQ %>
<table class="table">
  <%# First line to define colomns %>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>
  <%# Make a row for each entry in the FAQ %>
<% @help_items.each do |help_item| %>
  <tr>
    <td><%= help_item.title %></td>
    <td><%= help_item.text %></td>
  </tr>
<% end %>
</table>

<%= if @current_user.user_type.help_edit then link_to 'New FAQ (employees only)', new_help_item_path  end %>

<a class="btn" href="mailto:help@hologramsinc.com">E-mail us!</a>
