// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin-right: 20px;
  caption-side: top;
}

td, th {
  padding: 5px;
}

caption {
  font-weight: bold;
  padding-top: 8px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
