[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/assets/glyphicons-halflings.png");
}

.icon-white {
  background-image: url("/assets/glyphicons-halflings-white.png");
}

/* REMOVE THIS it is only to make the base scaffolding readable */
body {
  margin:10px;
}

.titleButton {
  margin:0px 0px 5px 10px;
  display: inline-block;
}